body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.resume-container {
    display: flex;
    max-width: 750px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.left-section {
    background: #2c3e50;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
}
.left-section img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.left-section h3 {
    margin-top: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.left-section ul {
    list-style: none;
    padding: 0;
}
.left-section ul li {
    padding: 5px 0;
    
}
.right-section {
    padding: 20px;
    width: 65%;
    /* margin-top: 20px; */
}
.right-section h1 {
    color: #2c3e50;
    padding-left: 80px;
}
.right-section h3 {
    color: #2c3e50;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}
.right-section ul {
    list-style: square;
    padding-left: 20px;
}
#lets-connect a i{
margin-left: 20px;
}
@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
    }
    .left-section, .right-section {
        width: 100%;
    }
}
